.checklist {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.checklist h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.checklist form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checklist label {
  margin-right: 10px;
}

.checklist input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
}

.checklist .add-btn,
.checklist .delete-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.checklist .add-btn {
  background-color: #28a745;
}

.checklist .add-btn:hover {
  background-color: #218838;
}

.checklist .delete-btn {
  background-color: #dc3545;
}

.checklist .delete:hover {
  cursor: pointer;
}
.checklist .checkbox:hover {
  cursor: pointer;
}

.checklist ul {
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.checklist li {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 4px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checklist li.done {
  text-decoration: line-through;
  opacity: 0.5;
}
.checklist #deleteItems {
  margin-inline-start: auto;
}
#deleteItems {
  color: #dc3545;
}
/* profile css */
